li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

et_pb_section_3.et_pb_section {
    padding-top: 60px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: #f7f7f7!important;
}

img {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    margin: 0 0 9px!important;
}